<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>
<div id="menuicon">
    <img src="../resources/images/menu.png" style="width: 32px; height: 32px">
</div>
<div id="header">
    {%- include header.html -%}
</div>
<div id="menu">
    {% assign pages = site.pages | sort: "title" %}
    {% for page in pages %}
    {% if page.menu_type == "main" %}
    <div>
        <a href="{{ page.url }}">{{ page.title }}</a>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div id="navigation">
    {% if page.page_type == "page_doc" %}
    <h1>Topics</h1>
    <ul>
        {% assign pages = site.pages | sort: "name" %}
        {% for page in pages %}
        {% if page.menu_type == "topic" %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if page.page_type == "page_common" %}
    <h1>Posts</h1>
    <ul>
        {% for page in site.posts %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if page.page_type == "page_post" %}
    <h1>Posts</h1>
    <ul>
        {% for page in site.posts %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div id="content">
    {{ navigation }}
    {{ content }}
</div>
<div id="footer">{%- include footer.html -%}</div>
</body>
<script>
    $("div#menuicon").click(
        function () {
            $("div#navigation").fadeIn().show();
        }
    );

    $("div#navigation").click(
        function () {
            $(this).removeAttr("style")
        }
    );

    $("div#content").click(
        function () {
            $("div#navigation").removeAttr("style")
        }
    );
</script>
</html>